ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
	border: 1px solid #f3f3f3;
	
}

li {
    float: left;
}

li a {
    display: block;
    color: #4CAF50;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}	

h1 {
	font-family: Courier;
	color: black;
}	

h2 {
	font-family: Garamond;
	color: #ffffff;
}

p {
	border-left-style: solid;
	border-left-color: #0086b3;
	border-bottom-style: solid;
	border-right-style: dotted;
	background-color: #29293d;
    border-color: #33ccff;
	color: white;
	
 	
}
 	

img {
    border: 4px solid #cccc00;
}	


	
li a:hover{
    background-color: #ff9900;
	color: #ffffff;
	border: .75px soft #000000
	
}

.active {
    background-color: #ff00ff;
}


